
body {

background-color: whitesmoke;
font-family: sans-serif;
font-size: 10px;
Color: lavenderblush;
cursor: url('Squiggle3.png'), auto !important;
cursor: url('Squiggle3.png'), pointer !important;
}

a.legendlink {

Color: lavenderblush;
font-family: sans-serif;
text-decoration: none;
cursor: url('Squiggle3.png'), auto !important;
}

a.legendlink:visited {
Color: lavenderblush;
text-decoration: none;
cursor: url('Squiggle3.png'), auto !important;
}


a.homelink {

color: orange;
text-decoration: none;
text-shadow: 0 0 3px orchid;
cursor: url('Squiggle3.png'), auto !important;
}

a.homelink:hover {
cursor: url('Squiggle3.png'), auto !important;
text-shadow: none

}

.mypicture {

opacity: 40%;
Width: 300px;
Height: 225px;
Margin-left: 80%;

}

.legend {

Width: 150px;
Height: 200px;
Margin-left: 60%;
Overflow: scroll;
Position: absolute;
background-color: darkgray;
Border-style: ridge;
Padding: 10px;
box-shadow: 5px 5px 2.5px dimgray;
resize: both;
}

.homebutton {

font-size: 19px;
color: orchid;
Position:fixed;


}
