
body {

background-color: GhostWhite;
background-image: linear-gradient(to right, lavenderblush, LemonChiffon, pink);
font-size: 14px;
font-family: 'Cormorant Upright';
}

a {

text-decoration-line: underline; 
text-decoration-style: wavy; 
text-decoration-color: chartreuse; 
font-family: 'Noto Sans'; 
color: olive;

}

dl.nav {

list-style-type: circle;




}




textarea {
position: static;
margin-left: 20%;
font-family: serif;
border-style: double;
border-color: fuchsia;
resize: none;
color: blue;
border-width: medium;
z-index: 2;
font-size: 15px;
}

.box {

top: 120px;
Left: 320px;
height: 30%;
width: 20%;
background-image: linear-gradient(white, rosybrown, papayawhip);
position: fixed;
margin: auto;
border-style: double;
border-color: black;
color: mistyrose;
z-index=2;
text-align: left;
overflow: scroll;
padding: 3px;
border-radius: 5px;
}



/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/games/gam-2/gam189.cur), auto !important;} /* End https://www.cursors-4u.com */
