
html {
overflow: scroll;
}
body {


top: 0;
left: 0;
background-color: seashell;
background-image: url('./Hearttile.png');

z-index: 3;
font-family: serif;

}

.text {
position: fixed;
margin-left: 40%;
font-size: 40px;
font-family: 'Gruppo';
color: white;
text-shadow: 1px 1px yellow, 2px 2px black;
text-decoration: underline overline;
}

.p1 {
position: fixed;
margin-left: 60%;
margin-top: 33%;
z-index: -1;
}
.p2 {
position: fixed;
margin-top: 18%;
margin-left: 35%;
}
.p3 {
position: fixed;
margin-left: 66%;
}
.p4 {
position: fixed;

}
.p5 {
position: fixed;
margin-top: 25%;
}

.buttons{


animation-duration: 1s;
animation-direction: reverse;
animation-iteration-count: infinite;
animation-direction: alternate;
background-color: Gainsboro;
position: absolute;

top: 92%;
left: 93%;

}

.img-magnifier-container {
  position: relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 100px;
  height: 100px;
}


