
body {

padding: 105px;
background-color: rebeccapurple;
background-image: url('./bluecomet.jpg');
font-family: serif;
font-size: 15px;
Color: red;

}

a {

text-decoration: none;
font-family: 'League Script';
color: red;
}

a:hover {

color: aqua;

}