

body {


top: 0;
left: 0;
background-color: lightsteelblue;
color: black;
font-size: 12px;
font-family: monospace;
font-weight: lighter;
text-align: center;
cursor: url('./FluoCursorSmall.png'), pointer;
}

a {

color: black;
text-decoration: none;
cursor: url('./FluoCursorSmall.png'), pointer;
}

a:visited {

color: black;
text-decoration: none;
cursor: url('./FluoCursorSmall.png'), pointer;
}

a:hover {

color: blue;
text-decoration: none;
cursor: url('./FluoCursorSmall.png'), pointer;
}

.contentment {

width: 300px;
height: 250px;
background-color: gainsboro;
position: fixed;
left: 20px;
top: 10px;
border: 1px solid black;
padding: 4px;
}

.contentment:hover {
border: 1px solid blue;

}

.greenhouse {

background-color: gainsboro;
width: 225px;
height: 325px;
position: fixed;
left: 340px;
top: 10px;
border: 1px solid black;
padding: 4px;
}

.greenhouse:hover {

border: 1px solid blue;
}


.fleur {

background-color: gainsboro;
width: 300px;
height: 250px;
position: fixed;
left: 585px;
top: 10px;
border: 1px solid black;
padding: 4px;
}

.fleur:hover {

border: 1px solid blue;

}

.egg {

background-color: gainsboro;
width: 225px;
height: 325px;
position: fixed;
left: 905px;
top: 10px;
border: 1px solid black;
padding: 4px;
}


.egg:hover {

border: 1px solid blue;

}

.palm {

background-color: gainsboro;
width: 300px;
height: 250px;
position: fixed;
left: 20px;
top: 280px;
border: 1px solid black;
padding: 4px;
}


.palm:hover {

border: 1px solid blue;

}

.glassy {

background-color: gainsboro;
width: 225px;
height: 325px;
position: fixed;
left: 340px;
top: 355px;
border: 1px solid black;
padding: 4px;
}


.glassy:hover {

border: 1px solid blue;

}

.when {

background-color: gainsboro;
width: 300px;
height: 250px;
position: fixed;
left: 585px;
top: 280px;
border: 1px solid black;
padding: 4px;
}


.when:hover {

border: 1px solid blue;

}

.description {

position: fixed;
bottom: 1%;
color: blue

}
