
body {

background-color: seashell;
background-image: url(./girlcity.gif);
font-family: serif;
}

@font-face {
    font-family: 'neutronica__geometric';
    src: url('./neg_____-webfont.woff2') format('woff2'),
         url('./neg_____-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


.title {

Position: fixed;
width: 150px;
Height: 22;
}

.neutronica {

font-family: 'neutronica__geometric';
font-size: 20px;

}


.story {
Border-style: solid;
border-color: pink;
Border-radius: 25px;
Border-width: 5px;
Box-shadow: 1px 1px black;
Background-color: white;
width: 260px;
height: 430px;
position: fixed;
left: 40.5%;
top: 20%;
overflow: scroll;
z-index: 2;
color: #afa9f5;
font-family: 'Oswald';
font-size: 15px;
padding: 10px;
background-color: white;
text-shadow: 1px 1px lavender;
}

@keyframes pulse{

0% {top: 3.5%;}
50% {top: 4.5%;}
100% {top: 3.5%;}

}

.pulsetitle {

Animation-name: pulse;
animation-duration: 1.5s;
animation-iteration-count: infinite;
animation-timing-function: linear;
position: absolute;
Text-align: center;
Z-index: -1;


}

/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/holidays/hol-4/hol317.cur), auto !important;} /* End https://www.cursors-4u.com */
