
body {

background-color: whitesmoke;
font-size: 13px;
font-family: sans-serif;
cursor: pointer;
}


dl.nav {

list-style-type: circle;

}

a {

font-family: sans-serif;
text-decoration: none;

}

a:visited {
font-family: sans-serif;

text-decoration: none;
}

a:active {
text-decoration: underline;
}

.t {

font-family: sans-serif;
Color: honeydew;
text-shadow: 2px 2px 6px LightCyan;
}



.thidden {

font-size: 26px;
font-family: 'Handjet';
Color: blue;
Display: none;
position: fixed;

}

.t:hover + .thidden {

Display: block;
color: chartreuse;
}


.s {

Color: honeydew;
text-shadow: 2px 2px 6px LightCyan;
}

.shidden {

font-size: 26px;
font-family: 'Handjet';
Display: none;
position: fixed;


}

.s:hover + .shidden {

Display: block;
color: orange;
}

.e1 {

font-family: sans-serif;
Color: honeydew;
text-shadow: 2px 2px 6px LightCyan;
}

.e1hidden {

font-size: 26px;
font-family: 'Handjet';
Color: blue;
Display: none;
position: fixed;

}

.e1:hover + .e1hidden {

Display: block;
color: chartreuse;
}

.m {

color: honeydew;
text-shadow: 2px 2px 6px LightCyan;
}

.mhidden {

font-size: 26px;
font-family: 'Handjet';
Color: blue;
Display: none;
position: fixed;

}

.m:hover + .mhidden {

Display: block;
color: chartreuse;
}

.o {

Color: honeydew;
text-shadow: 2px 2px 6px LightCyan;
}

.ohidden {

font-size: 26px;
font-family: 'Handjet';
Color: blue;
Display: none;
position: fixed;

}

.o:hover + .ohidden {

Display: block;
color: chartreuse;
}

.n {

Color: honeydew;
text-shadow: 2px 2px 6px LightCyan;
}

.nhidden {

font-size: 26px;
font-family: 'Handjet';
Color: blue;
Display: none;
position: fixed;

}

.n:hover + .nhidden {

Display: block;
color: chartreuse;
}

.e2 {

Color: honeydew;
text-shadow: 2px 2px 6px LightCyan;
}

.e2hidden {

font-size: 26px;
font-family: 'Handjet';
Color: blue;
Display: none;
position: fixed;

}

.e2:hover + .e2hidden {

Display: block;
color: chartreuse;
}



.blinker {

height: 10%;
width: 5%;
position: absolute;
opacity: 50%;
background-color: red;
z-index: 1;

}

.marqueehome {
position: fixed;
Top: 93.5%;
font-size: 15px;
font-family: 'Caveat';
Color: aquamarine;
z-index: 3;

}

.squiggle {

position: fixed;
Left: 20%;
bottom: -30%;
Z-index: 5;
Transform: rotate(180deg);
Width: 1600px;
Height: 1200px;

}

.snakeskin {

position: fixed;
Left: 70%;
bottom: -50%;
Z-index: 3;

}

.bluestripe {

position: fixed;
Right: 77%;
top: -32%;
Z-index: -1;

}

.legend {

Width: 145px;
Height: 200px;
Margin-left: 44%;
Margin-top: 22%;
Overflow: scroll;
Position: absolute;
background-color: silver;
Border-style: ridge;
border-width: 4px;
Padding: 10px;
box-shadow: 4px 4px 5px orchid, 5px 5px 5px forestgreen, 6px 6px 5px yellow;
font-weight: bold;
}




