
body {

background-color: GhostWhite;
background-image: url('087C.jpg');
background-repeat: repeat;
font-size: 75px;
font-family: 'Handjet';
Color: blue;
}


dl.nav {

list-style-type: circle;

}

a {
font-size: 75px;
font-family: 'Handjet';
text-decoration: none;
}

a:visited {
font-size: 75px;
font-family: 'Handjet';
Color: blue;
text-decoration: none;
}

a:active {
color: red;
text-decoration: underline;
}

.t {
position: fixed;
Top: 10%;
Left: 5%
font-size: 75px;
font-family: 'Handjet';
Color: blue;
}



.thidden {

font-size: 25px;
font-family: 'Handjet';
Color: blue;
Display: none;
position: fixed;

}

.t:hover + .thidden {

Display: block;
color: antiquewhite;
}


.s {
position: fixed;
Left: 78px;
Top: 40%;
color: cyan;
}

.shidden {

font-size: 25px;
font-family: 'Handjet';
Color: cyan;
Display: none;
position: fixed;

}

.s:hover + .shidden {

Display: block;
color: antiquewhite;
}

.e1 {
position: fixed;
Left: 130px;
Top: 30%;
font-size: 75px;
font-family: 'Handjet';
Color: blue;
}

.e1hidden {

font-size: 25px;
font-family: 'Handjet';
Color: blue;
Display: none;
position: fixed;

}

.e1:hover + .e1hidden {

Display: block;
color: antiquewhite;
}

.m {
position: fixed;
Left: 180px;
Top: 55%;
}

.mhidden {

font-size: 25px;
font-family: 'Handjet';
Color: blue;
Display: none;
position: fixed;

}

.m:hover + .mhidden {

Display: block;
color: antiquewhite;
}

.o {
position: fixed;
Left: 230px;
Top: 18%;
}

.ohidden {

font-size: 25px;
font-family: 'Handjet';
Color: blue;
Display: none;
position: fixed;

}

.o:hover + .ohidden {

Display: block;
color: antiquewhite;
}

.n {
position: fixed;
top: 55%;
Left: 330px;
z-index: 6;
}

.nhidden {

font-size: 25px;
font-family: 'Handjet';
Color: blue;
Display: none;
position: fixed;

}

.n:hover + .nhidden {

Display: block;
color: antiquewhite;
}

.e2 {
position: fixed;
Left: 450px;
Top: 60%;
color: cyan;
z-index: 6;
}

.e2hidden {

font-size: 25px;
font-family: 'Handjet';
Color: blue;
Display: none;
position: fixed;

}

.e2:hover + .e2hidden {

Display: block;
color: cyan;
}



.blinker {

height: 10%;
width: 5%;
position: absolute;
opacity: 50%;
background-color: red;
z-index: 1;

}

.marqueehome {
position: fixed;
Top: 93.5%;
font-size: 15px;
font-family: 'Caveat';
Color: lavenderblush;

}

.squiggle {

position: fixed;
Left: 25%;
bottom: -40%;
Z-index: 5;
Transform: rotate(180deg);

}

.snakeskin {

position: fixed;
Left: 80%;
bottom: -65%;
Z-index: 4;

}
