
body {

background-color: thistle;
font-family: verdana;
color: deeppink;
font-size: 12px;
}


a {

color: deeppink;
text-decoration: none;
Cursor: grab;


}

.tile {


}



.m {

color: deeppink;

}

.mhidden {

display: none;
position: fixed;
}

.m:hover + .mhidden {

display: block;
font-size: 12px;
z-index: 10;
margin-left: 40%;
margin-top: 25%;
}


.n {

color: deeppink;

}

.nhidden {


display: none;
position: fixed;

}

.n:hover + .nhidden {

display: block;
margin-left: 45%;
margin-top: 20%;
font-size: 12px;
}

.o {

color: deeppink;

}

.ohidden {

display: none;
position: fixed;

}

.o:hover + .ohidden {

display: block;
font-size: 12px;
margin-left: 50%;
margin-top: 40%;
}

.s {

color: thistle;

}

.shidden {

display: none;
position: fixed;

}

.s:hover + .shidden {

display: block;
margin-left: 50%;
margin-top: 40%;
font-size: 12px;
}


.basebar {
width: 100%;
position: fixed;
border-top: 1px dashed deeppink;
height: 2.5%;
left: 0%;
bottom: 0%;
padding: 6px;
z-index: 0;
color: deeppink;

padding-top: -5px;
font-size: 15px;
}

