
body {

background-color: gainsboro;
background-image: url('./opg4.png');
font-family: 'Mukta';
color: LightGray;
}


a {
font-family: 'Mukta';
color: LightGray;
text-decoration: none;


}

.prompt {





}

.storyspace {

position: fixed;
Left: 35%;
top: 25%;
border: 2px solid #ccc;
border-radius: 4px;
border-color: darkblue;
font-family: 'Shippori Mincho';

}

.storyspace:focus {

border-color: yellow;
outline: none;
}

/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/mechanics/mec-5/mec480.cur), auto !important;} /* End https://www.cursors-4u.com */

