body {
Background-color: MistyRose;
Background-image: url("flower_bg.png");
background-size: cover;
font-family: 'Handjet';
color: lightblue;
font-size: 60px;
font-weight: 300;
text-shadow: 1px 1px 3px cornsilk;
margin-top: -4%;
overflow-x: scroll;
}

a {
color: chartreuse;

}

a:visited {

chartreuse;

}

