body {
background-color: #21274f;
background-size: cover;
font-family: Andale Mono, monospace;
color: red;
margin-top: -4%;
font-weight: normal;
letter-spacing: -1px;
font-size: 14px;
}

a {
color: yellow;

}

a:visited {

chartreuse;

}

table {
font-weight: normal;
letter-spacing: 1px;
font-size: 14px;
position: fixed;
left: 13%;
top: 5%;
 -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(20px);

}

td {


padding: 6px;
max-width: 400px;
}


.bio {
position: fixed;
left: 1%;
top: 3%;
width: 300px;
width: 300px;
color: yellow;
border: 1px dashed;
background-color: black;
padding: 2px;
border-radius: 8px;
}

.d1w2advertisement {
position: fixed;
bottom: 71%;
left: 1%;
width: 300px;
border: 1px solid;
color: yellow;
background-color: black;
padding: 4px;

}
