* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*
colors
dull blue: #21274f;

*/

@keyframes glow {
0% {background-color: mistyrose;}
50% {background-color: lightcyan;}
100% {background-color: lemonchiffon;}
} 
body {

background-color: lavenderblush;
background-image: radial-gradient(ellipse farthest-corner at 100px, silver, rgba(225,228,225,0), silver, rgba(224,225,225,0), silver);
background-size: cover;
font-family: Andale Mono, monospace;
color: red;
margin-top: -4%;
font-weight: normal;
letter-spacing: -1px;
font-size: 14px;

animation-duration: 10s;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-timing-function: linear;
}

a {
color: yellow;

}

a:visited {

chartreuse;

}

table {
font-weight: normal;
letter-spacing: 1px;
font-size: 14px;
position: fixed;
left: 13%;
top: 5%;
 -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);

}

td {


padding: 6px;
max-width: 400px;
}


.bio {
width: 300px;
margin-top: 2%;
margin-left: 2%;
color: yellow;
border: 1px dashed;
background-color: black;
padding: 2px;
border-radius: 8px;
box-shadow: 1px 1px 6px gray;
}

.advertisement {
width: 300px;
margin-left: 2%;
margin-top: 4%;
border: 1px solid;
color: yellow;
background-color: black;
padding: 4px;
box-shadow: 1px 1px 6px gray;
}

.chapbookcover {
width: 250px; 
height: 356px; 
position: fixed; 
bottom: 38%; 
right: 38%; 
transform: rotate(15deg); 
box-shadow: 1px 1px 6px gray;
}

.chapbookcover:hover {
box-shadow: 0px 0px 5px white;

}

.buybutton {
position: fixed;
left: 45%;
top: 25%;
}
