
body {


top: 0;
left: 0;
background-color: grey;
background-image: radial-gradient(teal, slategray, rosybrown);
background-size: contain;
color: greenyellow;
font-family: "Uchen", serif;
font-size: 30px;

}

.writing {
padding-top: 5%;
padding-left: 21%;
padding-right: 21%;

}


a {
font-family: "Uchen", serif;
font-size: 30px;
text-decoration: none;
color: slategray;
}
