
body {


top: 0;
left: 0;
background-color: grey;
background-image: url('./blur.jpg');
background-size: 100%;
color: red;
font-family: "Open Sans", sans-serif;
font-size: 30px;

}

.writing {
padding-top: 5%;
padding-left: 21%;
padding-right: 21%;

}

