
body {


top: 0;
left: 0;
background-color: white;
font-family: 'Xanh Mono';
font-size: 11px;
Color: mediumslateblue;

}

@keyframes wavy{

from {background-color: SlateBlue;}
to {background-color: LemonChiffon;}

}


.poem {


position: fixed;
right: 27%;
bottom: 50%;

}


.buttons{


animation-duration: 1s;
animation-direction: reverse;
animation-iteration-count: infinite;
animation-direction: alternate;
background-color: white;
position: absolute;

top: 62%;
left: 48%;

}




.backboard1 {

Display: block;
Width: 60%;
Height: 15%;
background-color: white;
Position: fixed;
Left: 20%;
top: 15%;
border-style: ridged;
Border-color: white;
Padding: 10px;
Overflow: scroll;

}

.backboard2 {

Display: block;
Width: 60%;
Height: 15%;
background-color: white;
Position: fixed;
Left: 20%;
top: 33%;
border-style: ridged;
Border-color: white;
Padding: 10px;
Overflow: scroll;

}


.backboard3 {

Display: block;
Width: 60%;
Height: 15%;
background-color: white;
Position: fixed;
Left: 20%;
top: 51%;
border-style: ridged;
Border-color: white;
Padding: 10px;
Overflow: scroll;

}



.backboard4 {

Display: block;
Width: 60%;
Height: 15%;
background-color: white;
Position: fixed;
Left: 20%;
top: 69%;
border-style: ridged;
Border-color: white;
Padding: 10px;
Overflow: scroll;

}


.backboard {

Display: block;
Width: 60%;
Height: 5%;
background-color: white;
Position: fixed;
Left: 20%;
top: 10%;
border-style: ridged;
Border-color: white;
Padding: 10px;
Overflow: scroll;

}




/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/others/oth-6/oth639.cur), auto !important;} /* End https://www.cursors-4u.com */