
body {


top: 0;
left: 0;
background-color: aqua;
color: #0f00e3;
font-family: 'Xanh Mono';
border: 1px dotted yellow;
border-radius: 20px;
font-size: 20px;

a {


text-decoration: none;

}

a:visited {
color: blue;
}

a:active {
color: blue;

}


}

.bluebox {
width: 300px;
overflow: scroll;


padding: 1%;
}

.me {

border-radius: 20px;

}

.about {
text-align: right;
}
