
body {

top: 0;
left: 0;
background-color: aqua;
background-size: cover;
font-family: "Inconsolata", serif;
font-size: 18px;
color: blue;
}

a {

cursor: grab;
text-decoration: none;
}

a:visited {
color: blue;

}


a.contribute {
font-family: 'Ballet';
position: fixed;
font-size: 75px;
top: 64%;
text-decoration: none;
color: snow;

}

a.contribute:visited {

font-family: 'Ballet';
position: fixed;
font-size: 75px;
text-decoration: none;
color: white;

}

a.contribute:hover {
font-family: 'Ballet';
position: fixed;
font-size: 75px;
text-decoration: none;
color: lightcyan;

}

a.coverbutton {
color: snow;
text-decoration: none;
}

a.coverbutton:visited {
color: snow;
text-decoration: none;
}

.block1 {

margin-top: 20px;
border: 2px solid blue;
position: fixed;
padding: 10px;
border-radius: 5px;
width: 350px;
height: 50px;
overflow: scroll;
}

.block1:hover {

border-style: dotted;
}


.block2 {

margin-left: 450px;
margin-top: 20px;
border: 2px solid blue;
position: fixed;
padding: 10px;
border-radius: 5px;
width: 350px;
height: 50px;
overflow: scroll;
}

.block2:hover {

border-style: dotted;

}

.block3 {
margin-left: 850px;
margin-top: 20px;
border: 2px solid blue;
position: fixed;
padding: 10px;
border-radius: 5px;
width: 350px;
height: 50px;
overflow: scroll;
scrollbar-color: pink lightblue;
}


.block4 {

margin-top: 120px;
border: 2px solid blue;
position: fixed;
padding: 10px;
border-radius: 5px;
width: 350px;
height: 50px;
overflow: scroll;
}




.block5 {
margin-left: 400px;
margin-top: 120px;
border: 2px dotted blue;
position: fixed;
padding: 10px;
border-radius: 30px;
width: 350px;
height: 55px;
overflow: scroll;
}

.block5:hover {

border-style: solid;
}


.block6 {
margin-left: 850px;
margin-top: 120px;
border: 2px solid blue;
padding: 10px;
border-radius: 5px;
width: 350px;
position: fixed;
overflow: scroll;
cursor: url('./Glasscursor.png');
}



.block7 {

margin-top: 220px;
border: 1px solid blue;
position: fixed;
padding: 10px;
border-radius: 5px;
width: 350px;
overflow: scroll;

}

.block7:hover {

border-style: none;
}

.block8 {
margin-top: 220px;
margin-left: 400px;
border: 2px solid blue;
position: fixed;
padding: 10px;
border-radius: -30px;
width: 350px;

overflow: scroll;
}

.coverbutton {


position: fixed;
margin-top: 30%;

}

.symbol {

left: 97%;
top: 96%;
position: fixed;
color: gray;

}

.contribute {
font-family: 'Ballet';
position: fixed;
font-size: 75px;
cursor: url('glassbricks.JPG');
}



.title {
font-family: 'Ballet';
position: fixed;
font-size: 120px;
top: 63%;
left: 30%;
z-index: 10;

}





.marquee{


font-family: 'handjet';
color: blue;
position: fixed;
bottom: -6%;
font-size: 110px;
}



a.mywebsite {
color: blue;
cursor: grabbing;
text-decoration: underline;
text-decoration-style: double;
text-decoration-color: chartreuse;
}

a.mywebsite:visited {
color: blue;
cursor: grabbing;
text-decoration: underline;
text-decoration-style: double;
text-decoration-color: chartreuse;
}

.q {

position: fixed;
top: 50%;
left: 70%;
}

.flower {

position: fixed;
top: 55%;
left: 69%;
transform: skewY(20deg);

}

.flower:active {
cursor: grabbing;
}

.glow {
position: fixed;
margin-top: 0%;
}
a.glow {

color: blue;
text-decoration: none;
text-shadow: 1px 1px 1px cyan;

animation-duration: 0.7s;
animation-delay: 0s;
animation-direction: alternate;
animation-iteration-count: infinite;
}

@keyframes glow {
 
from {text-shadow: 1px 1px 5px blue;}
to {text-shadow: 1px 1px 8px blue;}


}

