body {

background-image: url('./warningcopy.png');
background-size: cover;
}

@media screen and (max width: 600px) {

body {

background-image: url('./verticalwarning.png');

}

}



.button {
  
  width: 62px;
  height: 30px;
  background: lightgray;
  color: black;
  font-size: 17px;
  font-family: Verdana, sans-serif;
  text-align: center;
  
}




.buttonshadow {
  box-shadow: 1px 1px 0.5px black;
}

.wpclose {
  
  
  width: 18px;
  height: 20px;
  font-size: 17px;
  font-family: Verdana, sans-serif;
  text-align: center;
  
  
}

.wpclooks {
  
  position: absolute;
  margin-left: 220px;
  margin-bottom: 8px;
  color: white;
  background-color: crimson;
  z-index: 3;
}

.wordprocessor {
  
 
  margin-top: 120px;
  margin-left: 300px;
  position: fixed;
  width: 500px;
  height: 300px;
  z-index: 1;
  background-color: lightgray
   
}

.wplooks {
  
  box-shadow: 2px 2px 1px black;
  border-top: 3.5px solid whitesmoke;
  border-left: 3.5px solid whitesmoke;
  border-bottom: 5px solid dimgray;
  border-right: 5px solid dimgray;
}

.wptitle {
  
  margin-left: 10px;
  position: absolute;
  margin-top: 3px;
  font-size: 16px;
  margin-bottom: 600px;
  
}

.wpheader {
  
  text-align: center;
  color: white;
  background-color: darkblue;
  width: 495px;
  height: 25px;
  margin-left: 2px;
  margin-top: 2px;
  box-shadow: 2px 2px solid black;
}

.wphlooks {
  
  position: absolute;
  z-index: 2;
  font-family: "Menlo", monospace;
  
}

 .invisibletextbox {
  
  background-color: black;
  border: none;
  color: chartreuse;
  font-family: "Menlo", monospace;
  font-weight: bold;
  font-size: 14px;
  outline: none;
  padding-bottom: 250px;

  
}

.wptextbox {
  
  position: absolute;
  margin-top: 40px;
  margin-left: 10px;
  resize: none;
  font-family: Times, serif;
  font-size: 13px;
  outline: none;
}

.whitebox {
  
  background-color: white;
  position: absolute;
  margin-top: 40px;
  margin-left: 10px;
  width: 400px;
  height: 200px;
  z-index: 999;
  
  
}

.malfunctionpage {
  
  background-color: black;
  color: chartreuse;
  font-family: "Menlo", monospace;
  font-size: 13px;
}

@keyframes cursor {
  from {color: chartreuse;}
  to {color: black;}
}
  .anim {
    animation-name: cursor;
    animation-duration: 0.82s;
    animation-iteration-count: infinite; 
  }

.invisiblelink {
  
  color: chartreuse;
  text-decoration: none;
}


border
