* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*
Violet: #9883e5;
Dark Gray: #545454;

*/


body {
padding: 5%;
background-color: honeydew;
font-family: verdana;
color: #4e5b4c;
font-size: 16px;
border-bottom: 1px dotted lightgreen;
height: 50%;
}

a {

color: #4e5b4c;
text-decoration: none;
background-color: rgba(110, 43, 250, 0.14);
}


a:hover {



}


#writing {
font-size: 14px;
background-color: honeydew;
color: #9883e5;
display: none;
font-style: normal;
}

#button {
font-size: 14px;
background-color: honeydew;


}

u {
text-decoration: underline;
text-decoration-style: dashed;
text-decoration-color: gray;


}


#bubble {

position: fixed;
right: 6%;
top: 4.4%;
padding: 4%;
font-family: snell roundhand;
backdrop-filter: blur(5px);
font-size: 222px;
text-align: center;
transform: rotate(8deg);
opacity: 10%;
z-index: -1;
}
