* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

cursor: url('./cursor.cur'), auto !important;
}

html {
height: 100vh;

}

body {

background-color: ghostwhite;
padding: 10px;
color: black;
height: 100%;
font-size: 15px;
font-family: courier new;



}

a:visited {
color: black;

}


u {

text-decoration-style: wavy;
text-decoration-thickness: 2px;
}


#backhome {
position: absolute;
top: 1%;
right: 1%;
color: black;
}

@keyframes goround {
	/* 0% { transform:  } */
	50% { transform: rotate(360deg); }
	/*100% { transform: ; }*/
}


#circle {
filter: blur(9px);
height: 300px;
width: 650px;
border: 20px solid lightgreen;
outline: 20px solid pink;
background-color: lightblue;
position: absolute;
opacity: 93%;
backdrop-filter: blur(10px);
top: 11%;
left: 22%;
padding: 200px;
text-align: center;
font-size: 200px;
animation-name: goround;
animation-duration: 150s;
animation-iteration-count: infinite;
animation-timing-function: cubic-bezier(.5,1,1,1);
}

#circle:hover {
opacity: 0%;


}


#square {
filter: blur(9px);
height: 500px;
width: 500px;
border: 20px solid lightgreen;
outline: 20px solid pink;
background-color: lightblue;
position: absolute;
left: 33%;
right: 33%;
bottom: -10%;
opacity: 93%;
backdrop-filter: blur(10px);

padding: 200px;
text-align: center;
font-size: 200px;

animation-duration: 150s;
animation-iteration-count: infinite;
animation-timing-function: cubic-bezier(.5,1,1,1);
z-index: -1;
}
