
body {

background-color: gainsboro;
background-image: url('./SD194.JPG');
font-family: 'Mukta';
color: lime;
font-size: 12px;
}


a {
font-family: 'Mukta';
color: LightGray;
text-decoration: none;
Cursor: grab;


}

.tile {


}

.purplebeams:hover {

background-image: url('./purplebeamstile.png');


}

.storyspace {

position: fixed;
Left: 35%;
top: 25%;
border: 2px solid #ccc;
border-radius: 4px;
border-color: lime;
font-family: 'Shippori Mincho';

}

.storyspace:focus {

border-color: violet;
outline: none;
}

mark {

Background-color: white;
color: black;

}

