
body {


top: 0;
left: 0;
background-color: aliceblue;
color: mistyrose;
text-shadow: 1px 1px slategray;
background-image: url('pinklights.jpg');
background-size: contain;
-webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
font-family: "Inconsolata", serif;
font-size: 16px;
height: 100%;
}

.writing {
margin-left: 60%;
margin-right: 10%;
}

.background {

height: 100%;

 background-position: center;

}

a {

text-decoration: none;

}

a.chapters {
color: hotpink;
}


a.chapters:visited {
color: hotpink;
}

a:visited {
color: yellow;

}
