
body {


top: 0;
left: 0;
background-color: aliceblue;
color: slategray;
background-image: url('pastel2.jpg');
background-size: contain;
-webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
font-family: "Inconsolata", serif;
font-size: 16px;
height: 100%;
}

.writing {
margin-left: 60%;
margin-right: 10%;
}

.background {

height: 100%;

 background-position: center;

}

a {

text-decoration: none;

}

a.chapters {
color: lawngreen;
}


a.chapters:visited {
color: lawngreen;
}

a:visited {
color: lawngreen;

}
