
body {


top: 0;
left: 0;
background-color: aliceblue;
color: olivedrab;
font-family: "Open Sans", sans-serif;
font-size: 12px;

}

.writing {
margin-left: 60%;
margin-right: 10%;

}


a {

text-decoration: none;
color: hotpink;

}

a:visited {
color: hotpink;
}