

body {


top: 0;
left: 0;
background-color: gainsboro;
color: #242424;
background-size: contain;
-webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
font-family: serif;
font-size: 18px;
height: 100%;
}

.writing {
padding: 2%;
border: 1px solid slategray;
box-shadow: 2px 2px black;
margin-left: 28%;
margin-right: 28%;
margin-top: 5%;
height: 650px;
overflow: scroll;
background-color: beige;
}

.background {

height: 100%;

 background-position: center;

}

a {

text-decoration: none;
color: hotpink;
}

a.chapters {
color: hotpink;
}


a.chapters:visited {
color: hotpink;
}

a:visited {
color: hotpink;

}
