html {
width: 100%;
height: 100%;

}

body {
background-color: whitesmoke;
background-image: linear-gradient(to top, whitesmoke 99%, cadetblue);
color: cadetblue;
font-family: Verdana;
}


a {

color: cadetblue;

}


table {

width: 100%;

border: 1px solid cadetblue;
border-left-color: whitesmoke;
border-right-color: whitesmoke;
}

th {

text-align: left;

}


td {
margin-left: -10px;
border-top: 1px dashed;
padding-top: 10px;
padding-bottom: 10px;
}




