
body {


top: 0;
left: 0;
background-color: antiquewhite;
background-image: url('./984.gif');
font-family: 'Pinyon Script';
color: lime;
Text-shadow: 1px 1px gold;
font-size: 27px;

}

ul {

List-style-image: url('./bluesequin.png');

}

@keyframes wavy{

from {background-color: SlateBlue;}
to {background-color: LemonChiffon;}

}



.buttons{


animation-duration: 1s;
animation-direction: reverse;
animation-iteration-count: infinite;
animation-direction: alternate;
background-color: red;
position: absolute;

top: 62%;
left: 50%;

}




.backboard {
Display: block;
Width: 50%;
Height: 70%;
background-color: lightgray;
Position: fixed;
Left: 25%;
top: 10%;
border-style: ridge;
Padding: 20px;

}
