
body {


top: 0;
left: 0;
background-color: Yellow;
background-image: url('./citylights.JPG');
background-size: cover;
z-index: 3;
font-family: 'Kosugi', sans-serif;

}

@font-face {
    font-family: 'crystopia__atmosphere';
    src: url('./cra_____-webfont.woff2') format('woff2'),
         url('./cra_____-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.story {

Width: 500px;
Height: 300px;
position: fixed;
Left: 37%;
Top: 44%;
Background-color: black;
color: white;
overflow: scroll;


}

.title {

font-family: 'crystopia__atmosphere';
font-weight: normal;
font-style: normal;
Animation-name: blinkingtitle;
animation-timing-function: linear;
Animation-duration: 1s;
Animation-iteration-count: 2;
color: black;


}

@keyframes blinkingtitle{

20% {color: white;}

40% {color: yellow;}

60% {color: black;}

80% {color: blue;}

100% {color: red;}



}
