
body {


top: 0;
left: 0;
background-color: orangered;
color: red;
font-family: sans-serif;
font-size: 38px;


}

.bluecollage {

border: 2px dotted white;
margin-left: 41%;

}

.bluecollage:hover {

border: 2px dashed white;


}

.script {

margin-left: 20%;
z-index: -1;

}


.centered{

border-radius: 100px;
position: absolute;
top: 10%;
left: 37%;
background-color: AntiqueWhite;
padding: 10px;
color: black;
font-size: 18px;

}

.centeredabout{

border-radius: 100px;
position: absolute;
top: 10%;
left: 37%;
padding: 10px;
color: black;
font-size: 18px;

}

.leaves {



}

.blue {

color: blue;
font-size: 18px;

}

.red {
color: yellow;
font-size: 18px;
}

.email {
color: yellow;
font-size: 18px;

}

.pink {

color: DarkSlateGray;
font-size: 18px;

}

mark {
background-color: blue;
color: yellow;

}

.buttons{

animation-name: wavy;
animation-duration: 0.5s;
animation-direction: reverse;
animation-iteration-count: infinite;
animation-direction: alternate;
background-color: DarkSeaGreen;
position: absolute;
top: 90%;
left: 90%;
color: White;

}

.grey{

color: DarkSlateGray;
}






.underlined {

font-family: 'Indie Flower', cursive;
color: Chartreuse;
text-decoration-line: underline;
text-decoration-style: wavy;
text-decoration-color: Chartreuse;

}
