
body {


top: 0;
left: 0;
background-color: orangered;
color: white;
font-family: serif;
text-shadow: 1px 1px 5px white;


a {

color: white;
font-family: serif;
text-decoration: none;

}



}

.sweethearts {
margin-top: 8%;
margin-left: 53%;
position: absolute;
z-index: -2;
}

@media screen and (max-width: 1000px) {

body {

background-image: url('./sweethearts.png');
color: pink;
background-size: cover;
text-shadow: 1px 1px 2px hotpink;
font-size: 25px;
}

.sweethearts {

display: none;

}

a {

color: pink;
text-shadow: 1px 1px 2px hotpink;
}

}

