
body {


top: 0;
left: 0;
background-color: white;
color: pink;
font-family: sans-serif;


a {

color: pink;
font-family: sans-serif;
text-decoration: none;

}



}

.sweethearts {
margin-top: 8%;
margin-left: 53%;
position: absolute;
z-index: -2;
}

.writing {


}

@media screen and (max-width: 1000px) {

body {

background-image: url(./sweethearts.png);
color: pink;
background-size: cover;
text-shadow: 1px 1px 2px hotpink;
font-size: 35px;
}

.sweethearts {

display: none;

}

a {

color: pink;
text-shadow: 1px 1px 2px hotpink;
}

}
