
body {

background-color: black;
font-family: 'Mukta';
color: lavender;
background-image: url('./workslights.png');
background-size: cover;
}


@font-face {
    font-family: 'aquilinetworegular';
    src: url('./AquilineTwo-webfont.eot');
    src: url('./AquilineTwo-webfont.eot?#iefix') format('embedded-opentype'),
         url('./AquilineTwo-webfont.woff2') format('woff2'),
         url('./AquilineTwo-webfont.woff') format('woff'),
         url('./AquilineTwo-webfont.ttf') format('truetype'),
         url('./AquilineTwo-webfont.svg#aquilinetworegular') format('svg');
    font-weight: normal;
    font-style: normal;

}



a {
Text-decoration: none;
Color: blue;
}

.graylink {
font-family: 'Mukta';
color: lightgrey;


}

.blacklink {

font-family: 'Mukta';
color: black;

}



.textbox {



width: 400px;
height: 600px;
background-color: rosybrown;
position: fixed;
left: 32%;
top: 8%;
Border-style: dotted;
Border-width: 2px;
border-color: blue;
Z-index: 0;

}


.othertextbox {



width: 400px;
height: 600px;
background-color: rosybrown;
position: fixed;
left: 45%;
top: 12%;
Border-style: ridge;
Border-width: 2px;
border-color: lawngreen;
Z-index: 1;


}

.thirdtextbox {



width: 400px;
height: 600px;
background-color: rosybrown;
position: fixed;
left: 26%;
top: 20%;
Border-style: ridge;
Border-width: 2px;
border-color: lime;
Z-index: 1;


}

.story {
width: 400px;
height: 620px;
position: fixed;
left: 36%;
top: 14%;
overflow: scroll;
z-index: 2;
color: lavenderblush;
font-family: 'M PLUS 1p';
}

.anim {
text-decoration-line: underline; 
text-decoration-style: wavy; 
text-decoration-color: LightGray;
animation-name: wavycolor; 
animation-duration: 3s; 
animation-iteration-count: infinite;

}


.tf6t {

Margin-left: 59%;
font-family: 'aquilinetworegular';
color: blue;
}

.tf6t:hover {

font-family: sans-serif;
color: yellow;
font-size: 25px;

}

.girlcity {

Margin-left: 29%;
font-family: 'aquilinetworegular';
color: blue;
}

.girlcity:hover {

font-family: sans-serif;
color: yellow;
font-size: 25px;
}

.tigerlily {

Margin-left: 49%;
font-family: 'aquilinetworegular';
color: blue;
}

.tigerlily:hover {

Margin-left: 49%;
font-family: sans-serif;
color: yellow;
font-size: 25px;
}

.jungle {

Margin-left: 69%;
font-family: 'aquilinetworegular';
color: blue;

}

.jungle:hover {

Margin-left: 69%;
font-family: sans-serif;
color: yellow;
font-size: 25px;
}

.comet {

Margin-left: 49%;
font-family: 'aquilinetworegular';
color: yellow;

}

.wos {

Margin-left: 29%;
font-family: 'aquilinetworegular';
color: blue;

}

.wos:hover {

Margin-left: 29%;
font-family: sans-serif;
color: yellow;
font-size: 25px;

}

.homebutton {

Margin-left: 49%;
font-family: sans-serif;
color: fuchsia;

}


.cc {

Margin-left: 61%;
font-family: 'aquilinetworegular';
color: blue;
Margin-top: 1%;
}

.cc:hover {

Margin-left: 61%;
Margin-top: 1%;
font-family: sans-serif;
color: yellow;
font-size: 25px;

}












