
body {


top: 0;
left: 0;
background-color: #0f00e3;
color: aqua;
font-family: 'Xanh Mono';
text-shadow: 1px 1px 4px cyan;
font-size: 20px;

a {

color: aqua;

text-decoration: none;

}



}

.sweethearts {
margin-top: 8%;
margin-left: 53%;
position: absolute;
z-index: -2;
}


