* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

cursor: url('https://cdn.cursors-4u.net/previews/ab-arrow-b60e38db-64.webp') 16 16, auto !important;

}



body {

background-color: dimgray;
font-family: verdana;
color: black;
font-size: 14px;
background-image: url('./room.gif');
text-align: justify;
}

#back-button {

background-color: lightgray; 
outline: 0.5px solid dimgray; 
color: black; 
border: 3px outset lightgray; 
font-family: serif; 
text-decoration: none;


}

#back-button:active {
border: 3px inset white;


}


img {

box-shadow: 2px 2px 4px dimgray;

}

img:hover {

transform: skewX(20deg);

}

#seal {

position: sticky;

width: 290px;
height: 121px;
right: 5%;
top: 5%;
box-shadow: none;
transform: rotate(5deg);
}

#seal:hover {

opacity: 0%;

}


#explainer {
width: 500px;
height: 270px;
margin: 100px auto;
background-color: gainsboro;
color: black;
font-family: sans-serif;
border: 6px ridge lightgray;
outline: 0.5px solid dimgray;
padding: 1%;
font-size: 16px;
}

#collage-set {
outline: 0.5px solid black; 
background-color: gainsboro; 
border: 3px outset gainsboro; 
font-size: 12px;

}



#collage-set:active {



}

