* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

 scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;

}

html {

}

body {
margin: 0 0;
width: 100vw;
background-color: hotpink;
background-image: url('./pcar-assets/faintflowers.jpeg');
background-size: cover;
background-attachment: fixed;
background-repeat: no repeat;
box-shadow: 0px 0px 50px hotpink inset;
color: deeppink;
font-size: 23px;
font-family: arial narrow;
}

a {
color: deeppink;
text-decoration-style: dotted;
text-decoration-color: blueviolet;
}


header {
font-size: 99px;
position: fixed;
background-image: radial-gradient(lavender 3%, mistyrose);
box-shadow: 0 0 50px 60px mistyrose;
opacity: 50%;
}

#info {
position: fixed;
top: 0%;
right: 0.5%;
width: 333px;
background-image: radial-gradient(lavender 3%, mistyrose);
box-shadow: 0 0 50px 60px mistyrose;
opacity: 83%;
}

marquee {
position: sticky;
top: 50%;
opacity: 20%;
font-size: 111px;
}


#essay {
transform: rotate(2deg);
width: 300px;
margin: 0px auto;
background-image: radial-gradient(lavender 3%, mistyrose);
box-shadow: 0 0 50px 100px mistyrose;
text-align: justify;
opacity: 83%;
font-size: 26px;
}


#serif {

font-family: serif;
font-style: italic;

}

#sigil {

font-family: "Aguafina Script", cursive;
font-size: 222px;
position: fixed;
top: 9%;
left: 3%;
z-index: -1;
opacity: 11%;
color: blueviolet;
text-align: justify;
width: 100%;
}

/*

*/