* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

 scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;

}

html {

}

body {
margin: 0 0;
width: 100vw;
background-color: white;
background-image: url('./pcar-assets/faintflowers.jpeg');
color: deeppink;
}


a {
color: deeppink;



}

#eye {
filter: hueRotate(100deg);
width: 100%;
text-align: center;


}

#essay {
width: 321px;
text-align: justify;
margin: auto;
transform: rotate(1deg);
}


#diamond {

position: absolute;
top: 10%;
left: 10%;



}


/*

*/
